@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,800;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

main {
    height: 100vh;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

footer {
    position: fixed;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}

#load-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #0b0b0b;
    z-index: 1000;
    height: 100vh;
}

#load {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 50%;
    top: 40%;
    margin-left: -300px;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#load div {
    width: 20px;
    height: 36px;
    opacity: 0;
    animation: move 2s linear infinite;
    -o-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: absolute;
}

#turn,
#load div {
    font: 700 1em 'Mulish', sans-serif;
    color: #35C4F0;
}

#turn {
    display: none;
    padding-top: 20%;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #0b0b0b;
    text-align: center;
}

#load div:nth-child(2) {
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
    animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}

#contact-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 3%;
    right: 3%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 800;
    font-size: 1.2em;
    vertical-align: middle;
}

#phone,
#envelope,
.space {
    font-size: 1em;
}

section,
.tables {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.scroll-button {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home,
.services {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.services {
    top: 0;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home {
    width: 50%;
}

.tables {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    bottom: 15vh;
    margin: 0 auto;
    padding-bottom: 20%;
}

.table-title {
    font-size: 1.5em;
    line-height: 1em;
    font-style: normal;
    font-weight: 900;
    color: #0b0b0b;
    padding-bottom: .5em;
}

.column {
    width: 20rem;
    border: 0.35em solid #0b0b0b;
    border-radius: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 0 3vw;
    font-size: 1.2em;
    font-weight: 800;
}

dt,
dd {
    padding: .5em;
    border-top: 0.35em solid #0b0b0b;
}

dd>p {
    padding: 0 1em;
}

h1 {
    margin-right: 20%;
    padding-bottom: 2rem;
    width: 100%;
    line-height: 1em;
    font-size: 4em;
    letter-spacing: .6rem;
}

.services-title {
    margin: 10% auto;
    width: 50%;
    text-align: center;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 900;
    color: #0b0b0b;
}

h2 {
    letter-spacing: .4rem;
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1em;
    color: #0b0b0b;
    line-height: 1.5em;
    font-size: 1.3em;
    padding-bottom: 10%;
}

dd>p {
    font-size: 1em;
    padding-bottom: 0;
}

.bold {
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    font-weight: 800;
    font-style: italic;
    letter-spacing: .1em;
    line-height: 1.5em;
    color: #0b0b0b;
}

i.fas {
    margin-top: .5em;
    font-size: 1.5rem;
    color: #0b0b0b;
}

h2.data-table>i.fas {
    margin: 0;
    font-size: 1rem !important;
}

#scroll-button {
    background: transparent;
    border: transparent;
    bottom: 20%;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    cursor: pointer;
    margin-top: 0;
    font-size: 4rem;
    z-index: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #35C4F0;
    opacity: .8;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.flip {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation: flip .5s;
    animation: flip .5s;
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@keyframes flip {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

.header {
    position: fixed;
    bottom: -20vh;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    z-index: 2000;
    padding-left: 4.5rem;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

img.logo {
    padding: .5em;
    height: 8em;
    border: 0.4em solid #0b0b0b;
    border-radius: 3px;
    margin-left: 7rem;
    pointer-events: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    overflow: visible;
}

#nav-icon,
.menu-overlay {
    visibility: hidden;
}

nav {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    padding: 2rem;
    padding-left: 4rem;
    padding-top: 0;
    vertical-align: text-top;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a li {
    font-family: Mulish;
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: .1em;
    color: #0b0b0b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    pointer-events: auto;
}

a li:hover {
    -webkit-text-decoration: underline .2em !important;
    text-decoration: underline .2em !important;
}

.contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    max-width: 50vw;
    bottom: 10%;
}

.form-horizontal {
    /*float: left;*/
    width: 50vw;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.form-control,
textarea {
    width: 50vw;
    color: #0b0b0b;
    letter-spacing: 1px;
    margin: .5rem;
    border: 0.3em solid #0b0b0b;
    border-radius: 3px;
    background-color: rgba(11, 11, 11, 0);
    resize: none;
}

::-webkit-input-placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(11, 11, 11, 0.5);
    font-weight: 500;
}

:-ms-input-placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(11, 11, 11, 0.5);
    font-weight: 500;
}

::-ms-input-placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(11, 11, 11, 0.5);
    font-weight: 500;
}

::placeholder {
    font-family: 'Mulish', sans-serif;
    color: rgba(11, 11, 11, 0.5);
    font-weight: 500;
}

.send-button {
    border: none;
    margin: 1rem auto;
    height: 2.5rem;
    width: 15vw;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent;
    margin-left: 71%;
}

.send-button::after,
.send-button::before {
    margin: 1rem auto;
    content: "";
    position: absolute;
    height: calc(2.5rem - .3em);
    width: calc(15vw - .3em);
    z-index: -1;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    border: 0.3em solid #0b0b0b;
    left: 0;
    bottom: 0;
    margin-left: 71%;
}

.send-button:hover::after {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
}

.send-button:hover::before {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
}

.alt-send-button {
    width: 15vw;
    height: 2.5rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fa-paper-plane {
    padding-top: .5em;
}

.send-text {
    display: block;
    margin-top: .5rem;
    font: 700 1em 'Mulish', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    -webkit-transform: translate3d(0px, -29px, 0px);
    transform: translate3d(0px, -29px, 0px);
}

.services-mobi {
    display: none;
}

.scene {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.sky {
    display: block;
    background: url("pics/Hero/sky/sky.png") no-repeat center;
    background-size: cover;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.cloud-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 110vw;
    height: 100%;
    overflow: hidden;
}

@-webkit-keyframes animateCloud {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}

@keyframes animateCloud {
    0% {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}

.cloud-1 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 130s linear infinite -60s;
    -webkit-animation: animateCloud 253s linear infinite -60s;
    -moz-animation: animateCloud 270s linear infinite -60s;
}

.cloud-2 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 184s linear infinite -60s;
    -webkit-animation: animateCloud 250s linear infinite -60s;
    -moz-animation: animateCloud 250s linear infinite -60s;
}

.cloud-3 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 203s linear infinite -60s;
    -webkit-animation: animateCloud 246s linear infinite -60s;
    -moz-animation: animateCloud 156s linear infinite -60s;
}

.cloud-4 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 230s linear infinite -60s;
    -webkit-animation: animateCloud 190s linear infinite -60s;
    -moz-animation: animateCloud 173s linear infinite -60s;
}

.cloud-5 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 295s linear infinite -60s;
    -webkit-animation: animateCloud 272s linear infinite -60s;
    -moz-animation: animateCloud 145s linear infinite -60s;
}

.cloud-6 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 105s linear infinite -60s;
    -webkit-animation: animateCloud 209s linear infinite -60s;
    -moz-animation: animateCloud 261s linear infinite -60s;
}

.cloud-7 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 263s linear infinite -60s;
    -webkit-animation: animateCloud 173s linear infinite -60s;
    -moz-animation: animateCloud 298s linear infinite -60s;
}

.cloud-8 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 143s linear infinite -60s;
    -webkit-animation: animateCloud 216s linear infinite -60s;
    -moz-animation: animateCloud 142s linear infinite -60s;
}

.cloud-9 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 157s linear infinite -60s;
    -webkit-animation: animateCloud 164s linear infinite -60s;
    -moz-animation: animateCloud 134s linear infinite -60s;
}

.cloud-10 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 135s linear infinite -60s;
    -webkit-animation: animateCloud 137s linear infinite -60s;
    -moz-animation: animateCloud 282s linear infinite -60s;
}

.cloud-11 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 297s linear infinite -60s;
    -webkit-animation: animateCloud 137s linear infinite -60s;
    -moz-animation: animateCloud 103s linear infinite -60s;
}

.cloud-12 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 287s linear infinite -60s;
    -webkit-animation: animateCloud 215s linear infinite -60s;
    -moz-animation: animateCloud 276s linear infinite -60s;
}

.cloud-13 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 159s linear infinite -60s;
    -webkit-animation: animateCloud 259s linear infinite -60s;
    -moz-animation: animateCloud 261s linear infinite -60s;
}

.cloud-14 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 158s linear infinite -60s;
    -webkit-animation: animateCloud 135s linear infinite -60s;
    -moz-animation: animateCloud 139s linear infinite -60s;
}

.cloud-15 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 149s linear infinite -60s;
    -webkit-animation: animateCloud 128s linear infinite -60s;
    -moz-animation: animateCloud 246s linear infinite -60s;
}

.cloud-16 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 252s linear infinite -60s;
    -webkit-animation: animateCloud 348s linear infinite -60s;
    -moz-animation: animateCloud 360s linear infinite -60s;
}

.cloud-17 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 484s linear infinite -60s;
    -webkit-animation: animateCloud 482s linear infinite -60s;
    -moz-animation: animateCloud 304s linear infinite -60s;
}

.cloud-18 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 486s linear infinite -60s;
    -webkit-animation: animateCloud 356s linear infinite -60s;
    -moz-animation: animateCloud 479s linear infinite -60s;
}

.cloud-19 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 372s linear infinite -60s;
    -webkit-animation: animateCloud 411s linear infinite -60s;
    -moz-animation: animateCloud 397s linear infinite -60s;
}

.cloud-20 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 458s linear infinite -60s;
    -webkit-animation: animateCloud 290s linear infinite -60s;
    -moz-animation: animateCloud 258s linear infinite -60s;
}

.cloud-21 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 347s linear infinite -60s;
    -webkit-animation: animateCloud 226s linear infinite -60s;
    -moz-animation: animateCloud 445s linear infinite -60s;
}

.cloud-22 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 488s linear infinite -60s;
    -webkit-animation: animateCloud 453s linear infinite -60s;
    -moz-animation: animateCloud 443s linear infinite -60s;
}

.cloud-23 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 279s linear infinite -60s;
    -webkit-animation: animateCloud 378s linear infinite -60s;
    -moz-animation: animateCloud 361s linear infinite -60s;
}

.cloud-24 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 213s linear infinite -60s;
    -webkit-animation: animateCloud 389s linear infinite -60s;
    -moz-animation: animateCloud 427s linear infinite -60s;
}

.cloud-25 {
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 0;
    top: 0vh;
    height: 0vh;
    overflow: visible;
    animation: animateCloud 500s linear infinite -60s;
    -webkit-animation: animateCloud 234s linear infinite -60s;
    -moz-animation: animateCloud 373s linear infinite -60s;
}

.cloud-part-1 {
    width: 520px;
    height: 252px;
    border-radius: 50%;
    position: absolute;
    top: -19vh;
    left: -50vw;
}

.cloud-part-2 {
    width: 700px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -22vh;
    left: -50vw;
}

.cloud-part-3 {
    width: 688px;
    height: 253px;
    border-radius: 50%;
    position: absolute;
    top: 9vh;
    left: -50vw;
}

.cloud-part-4 {
    width: 468px;
    height: 322px;
    border-radius: 50%;
    position: absolute;
    top: -13vh;
    left: -50vw;
}

.cloud-part-5 {
    width: 288px;
    height: 297px;
    border-radius: 50%;
    position: absolute;
    top: -1vh;
    left: -50vw;
}

.cloud-part-6 {
    width: 396px;
    height: 235px;
    border-radius: 50%;
    position: absolute;
    top: -27vh;
    left: -50vw;
}

.cloud-part-7 {
    width: 565px;
    height: 118px;
    border-radius: 50%;
    position: absolute;
    top: -27vh;
    left: -50vw;
}

.cloud-part-8 {
    width: 295px;
    height: 305px;
    border-radius: 50%;
    position: absolute;
    top: 7vh;
    left: -50vw;
}

.cloud-part-9 {
    width: 499px;
    height: 322px;
    border-radius: 50%;
    position: absolute;
    top: -29vh;
    left: -50vw;
}

.cloud-part-10 {
    width: 309px;
    height: 260px;
    border-radius: 50%;
    position: absolute;
    top: -31vh;
    left: -50vw;
}

.cloud-part-11 {
    width: 651px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    top: -23vh;
    left: -50vw;
}

.cloud-part-12 {
    width: 395px;
    height: 246px;
    border-radius: 50%;
    position: absolute;
    top: -6vh;
    left: -50vw;
}

.cloud-part-13 {
    width: 574px;
    height: 299px;
    border-radius: 50%;
    position: absolute;
    top: -21vh;
    left: -50vw;
}

.cloud-part-14 {
    width: 230px;
    height: 291px;
    border-radius: 50%;
    position: absolute;
    top: -18vh;
    left: -50vw;
}

.cloud-part-15 {
    width: 505px;
    height: 303px;
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    left: -50vw;
}

.cloud-part-16 {
    width: 265px;
    height: 76px;
    border-radius: 50%;
    position: absolute;
    top: 12vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-17 {
    width: 224px;
    height: 149px;
    border-radius: 50%;
    position: absolute;
    top: 77vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-18 {
    width: 314px;
    height: 142px;
    border-radius: 50%;
    position: absolute;
    top: 11vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-19 {
    width: 265px;
    height: 59px;
    border-radius: 50%;
    position: absolute;
    top: 22vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-20 {
    width: 350px;
    height: 113px;
    border-radius: 50%;
    position: absolute;
    top: 36vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-21 {
    width: 376px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 30vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-22 {
    width: 323px;
    height: 77px;
    border-radius: 50%;
    position: absolute;
    top: 54vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-23 {
    width: 277px;
    height: 121px;
    border-radius: 50%;
    position: absolute;
    top: 75vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-24 {
    width: 318px;
    height: 117px;
    border-radius: 50%;
    position: absolute;
    top: 56vh;
    left: -50vw;
    opacity: .7;
}

.cloud-part-25 {
    width: 298px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 69vh;
    left: -50vw;
    opacity: .7;
}

#cloud-back {
    -webkit-filter: url(#filter-back);
    filter: url(#filter-back);
    -webkit-box-shadow: 300px 300px 30px -20px #fff;
    box-shadow: 300px 300px 30px -20px #fff;
}

#cloud-mid {
    -webkit-filter: url(#filter-mid);
    filter: url(#filter-mid);
    -webkit-box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.3);
    box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.3);
}

#cloud-front {
    -webkit-filter: url(#filter-front);
    filter: url(#filter-front);
    -webkit-box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.2);
    box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.2);
}

.island {
    width: 100%;
}

.island-img,
.ocean-img {
    position: absolute;
    width: 100%;
    z-index: 20;
    bottom: -5%;
}

.ocean-img {
    z-index: 21;
    -webkit-filter: url("#turbulence");
    filter: url("#turbulence");
}

@media only screen and (max-width: 850px) and (max-width: 1000px) and (orientation: landscape) and (max-height: 900px) {
    #turn {
        display: block;
    }
    main {
        display: none;
    }
}

@media screen and (max-width: 850px) and (max-width: 1000px) {
    /* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
}

@media only screen and (max-width: 850px) and (max-width: 1000px) and (orientation: portrait) {
    #turn {
        display: none;
    }
    main {
        display: block;
    }
}

@media screen and (max-width: 850px) {
    #contact-banner {
        display: none;
    }
    body {
        position: fixed;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100vw;
    }
    main {
        top: 10vh;
        height: 80vh;
        height: calc(var(--vh, 1vh) * 80);
    }
    section {
        margin: 20% auto;
        overflow: visible;
        padding: 5%;
    }
    #phone {
        display: hidden;
    }
    .header {
        all: unset;
        position: fixed;
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        height: 10vh;
        height: calc(var(--vh, 1vh) * 10);
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        z-index: 10;
        padding: 10px;
        pointer-events: none;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    img.logo {
        padding: .1em;
        height: 3em;
        border: 0.3em solid #0b0b0b;
        border-radius: 3%;
        margin: 0;
        pointer-events: auto;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .logo {
        overflow: visible;
    }
    nav {
        display: none;
    }
    .menu-overlay {
        all: unset;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
        left: 0;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.5);
        padding-top: 25%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        z-index: 10;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
    }
    .menu-overlay>a li {
        all: unset;
        font-family: 'Bebas Neue', cursive;
        font-size: 3em;
        font-weight: 900;
        letter-spacing: .1em;
        color: #0b0b0b;
        list-style: none;
        text-transform: uppercase;
        z-index: 11;
    }
    .menu-overlay>a {
        padding: 2.5rem;
        padding-top: 0;
    }
    .mobi-menu {
        margin-left: 0;
    }
    .visible {
        opacity: 1;
        pointer-events: auto;
    }
    .hide {
        opacity: 0;
    }
    .mobile-menu {
        margin-left: 67%;
        margin-top: 3%;
        height: 100%;
        pointer-events: none;
        z-index: 200;
    }
    #nav-icon {
        height: 3em;
        width: 3em;
        visibility: visible;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        pointer-events: auto;
        z-index: 100;
    }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 45px;
        background: #0b0b0b;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    #nav-icon span:nth-child(2) {
        top: 15px;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    #nav-icon span:nth-child(3) {
        top: 30px;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    #nav-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        left: 0px;
    }
    #nav-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 30px;
        left: 0px;
    }
    #nav-icon.open span:nth-child(1),
    #nav-icon.open span:nth-child(3) {
        background: #0b0b0b;
    }
    #scroll-button {
        bottom: 7vh;
        height: calc(var(--vh, 1vh) * 7);
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    }
    .home {
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 80vh;
        height: calc(var(--vh, 1vh) * 80);
        width: 80%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .data-table {
        font-size: .9em;
        margin: 0;
        padding: 2px;
        line-height: 1em;
        max-height: 1em;
    }
    #services {
        vertical-align: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        top: 0;
    }
    .services-title {
        position: absolute;
        top: 5vh;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }
    .tables {
        all: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 10vh;
        max-height: 30%;
    }
    .column {
        border: 0.3em solid #0b0b0b;
        border-top: 0;
    }
    .column:nth-child(2)> :first-of-type {
        border-top: 0.3em solid #0b0b0b;
    }
    .column:last-of-type {
        border-bottom: 0.3em solid #0b0b0b;
    }
    .column>dt:first-of-type {
        border-top: 0;
    }
    .table-title,
    #strategy {
        display: none;
    }
    h1 {
        padding-bottom: 2rem;
        width: 80%;
    }
    h1,
    h2 {
        font-size: 1.5em;
        line-height: 1em;
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
        font-weight: 900;
        letter-spacing: .3rem;
        color: #0b0b0b;
    }
    h2 {
        margin: 5% 0;
    }
    p,
    dd>p {
        font-family: 'Mulish', sans-serif;
        font-size: .8em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: .1em;
        line-height: 1.3em;
        color: #0b0b0b;
    }
    .contact-wrapper {
        all: unset;
        margin: 0 auto;
        width: 85vw;
        max-height: 80vh;
    }
    #contact-form {
        all: unset;
        float: none;
        margin: 0 auto;
        width: 85vw;
    }
    .form-control,
    textarea {
        margin: 1% auto;
        width: 85vw;
    }
    textarea {
        height: 35vh;
    }
    .send-button {
        width: 103%;
        border: 0.3em solid #0b0b0b;
        border-radius: 3px;
        margin: 2% auto;
    }
    .alt-send-button {
        width: 100%;
        -webkit-transform: translate3d(0px, -29px, 0px);
        transform: translate3d(0px, -29px, 0px);
    }
    .fa-paper-plane {
        visibility: hidden;
    }
    .send-button::after,
    .send-button::before {
        visibility: hidden;
    }
    .scene {
        height: 100vh;
        width: 100vw;
        position: fixed;
    }
    .sky {
        display: block;
        background: url("pics/Hero/sky/sky.png") no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: -100%;
        overflow: hidden;
    }
    .island-img {
        bottom: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    .ocean-img {
        display: none;
        bottom: 0;
    }
    .cloud {
        all: unset;
    }
    .cloud-1 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 239s linear infinite -60s;
        -webkit-animation: animateCloud 201s linear infinite -60s;
        -moz-animation: animateCloud 213s linear infinite -60s;
    }
    .cloud-2 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 253s linear infinite -60s;
        -webkit-animation: animateCloud 126s linear infinite -60s;
        -moz-animation: animateCloud 150s linear infinite -60s;
    }
    .cloud-3 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 112s linear infinite -60s;
        -webkit-animation: animateCloud 179s linear infinite -60s;
        -moz-animation: animateCloud 158s linear infinite -60s;
    }
    .cloud-4 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 199s linear infinite -60s;
        -webkit-animation: animateCloud 194s linear infinite -60s;
        -moz-animation: animateCloud 225s linear infinite -60s;
    }
    .cloud-5 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 137s linear infinite -60s;
        -webkit-animation: animateCloud 270s linear infinite -60s;
        -moz-animation: animateCloud 253s linear infinite -60s;
    }
    .cloud-6 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 224s linear infinite -60s;
        -webkit-animation: animateCloud 133s linear infinite -60s;
        -moz-animation: animateCloud 277s linear infinite -60s;
    }
    .cloud-7 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 241s linear infinite -60s;
        -webkit-animation: animateCloud 242s linear infinite -60s;
        -moz-animation: animateCloud 300s linear infinite -60s;
    }
    .cloud-8 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 409s linear infinite -60s;
        -webkit-animation: animateCloud 351s linear infinite -60s;
        -moz-animation: animateCloud 460s linear infinite -60s;
    }
    .cloud-9 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 334s linear infinite -60s;
        -webkit-animation: animateCloud 242s linear infinite -60s;
        -moz-animation: animateCloud 406s linear infinite -60s;
    }
    .cloud-10 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 231s linear infinite -60s;
        -webkit-animation: animateCloud 326s linear infinite -60s;
        -moz-animation: animateCloud 403s linear infinite -60s;
    }
    .cloud-11 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 296s linear infinite -60s;
        -webkit-animation: animateCloud 301s linear infinite -60s;
        -moz-animation: animateCloud 471s linear infinite -60s;
    }
    .cloud-12 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 450s linear infinite -60s;
        -webkit-animation: animateCloud 449s linear infinite -60s;
        -moz-animation: animateCloud 365s linear infinite -60s;
    }
    .cloud-13 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 249s linear infinite -60s;
        -webkit-animation: animateCloud 230s linear infinite -60s;
        -moz-animation: animateCloud 487s linear infinite -60s;
    }
    .cloud-14 {
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
        top: 0vh;
        height: 0vh;
        overflow: visible;
        animation: animateCloud 484s linear infinite -60s;
        -webkit-animation: animateCloud 302s linear infinite -60s;
        -moz-animation: animateCloud 450s linear infinite -60s;
    }
    .cloud-part {
        all: unset;
    }
    .cloud-part-1 {
        width: 351px;
        height: 118px;
        border-radius: 50%;
        position: absolute;
        top: -29vh;
        left: -50vw;
    }
    .cloud-part-2 {
        width: 643px;
        height: 267px;
        border-radius: 50%;
        position: absolute;
        top: 2vh;
        left: -50vw;
    }
    .cloud-part-3 {
        width: 632px;
        height: 269px;
        border-radius: 50%;
        position: absolute;
        top: -10vh;
        left: -50vw;
    }
    .cloud-part-4 {
        width: 478px;
        height: 105px;
        border-radius: 50%;
        position: absolute;
        top: -24vh;
        left: -50vw;
    }
    .cloud-part-5 {
        width: 562px;
        height: 314px;
        border-radius: 50%;
        position: absolute;
        top: -7vh;
        left: -50vw;
    }
    .cloud-part-6 {
        width: 329px;
        height: 261px;
        border-radius: 50%;
        position: absolute;
        top: 7vh;
        left: -50vw;
    }
    .cloud-part-7 {
        width: 669px;
        height: 175px;
        border-radius: 50%;
        position: absolute;
        top: -14vh;
        left: -50vw;
    }
    .cloud-part-8 {
        width: 392px;
        height: 65px;
        border-radius: 50%;
        position: absolute;
        top: 62vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-9 {
        width: 239px;
        height: 148px;
        border-radius: 50%;
        position: absolute;
        top: 15vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-10 {
        width: 246px;
        height: 145px;
        border-radius: 50%;
        position: absolute;
        top: 61vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-11 {
        width: 390px;
        height: 81px;
        border-radius: 50%;
        position: absolute;
        top: 47vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-12 {
        width: 226px;
        height: 51px;
        border-radius: 50%;
        position: absolute;
        top: 68vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-13 {
        width: 213px;
        height: 124px;
        border-radius: 50%;
        position: absolute;
        top: 80vh;
        left: -50vw;
        opacity: .7;
    }
    .cloud-part-14 {
        width: 333px;
        height: 131px;
        border-radius: 50%;
        position: absolute;
        top: 57vh;
        left: -50vw;
        opacity: .7;
    }
    @-webkit-keyframes animateCloud {
        0% {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        100% {
            -webkit-transform: translateX(200%);
            transform: translateX(200%);
        }
    }
    @keyframes animateCloud {
        0% {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        100% {
            -webkit-transform: translateX(200%);
            transform: translateX(200%);
        }
    }
}


/*@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    * {
        max-width: 100vh;
        max-height: 100vw;
    }
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}*/


/*@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }
}*/


/*# sourceMappingURL=style.css.map */